@import 'src/styles/variables';

.player-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  text-align: center;
  margin: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;

  &.active-player {
    border-color: #007bff;
    box-shadow: 0 2px 8px rgba(0, 123, 255, 0.5);
  }
}

.card {
  margin-top: 16px;
  font-size: 24px;
  font-weight: bold;
  color: mat-color($primary);
}
