.poker {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.players {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  button {
    margin: 8px;
    padding: 10px 20px;
  }
}

.selected-card {
  border: 2px solid #28a745;
  box-shadow: 0 2px 8px rgba(40, 167, 69, 0.5);
}
