<div class="poker">
  <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>
  <div class="player-name-input" *ngIf="!readyToPlay">
    <mat-form-field>
      <mat-label>Enter your name</mat-label>
      <input
        matInput
        [(ngModel)]="playerName"
        (keydown.enter)="setPlayerName()"
      />
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="setPlayerName()">
      Join
    </button>
  </div>
  <div class="players">
    <app-player
      *ngFor="let player of players | keyvalue"
      [playerName]="player.value"
      [selectedCard]="
        cardSelections.get(player.value) ||
        selectedCards.get(player.value) ||
        ''
      "
      [isActive]="isActivePlayer(player.value)"
      [isCurrentPlayer]="isCurrentPlayer(player.value)"
    ></app-player>
  </div>
  <div class="cards" *ngIf="readyToPlay">
    <button
      mat-raised-button
      *ngFor="let card of cards"
      (click)="selectCard(card)"
      [ngClass]="{ 'selected-card': isCardSelected(card) }"
    >
      {{ card }}
    </button>
    <button
      mat-raised-button
      color="accent"
      (click)="revealCards()"
      [disabled]="gameState.revealed"
    >
      Reveal Cards
    </button>
    <button
      mat-raised-button
      color="warn"
      (click)="resetGame()"
      *ngIf="gameState.revealed"
    >
      Reset Game
    </button>
  </div>
</div>
